<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="eu">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: #0f2233"><h4><span style="color: white" id="adminName"></span>
        </h4>
        </div>
        <div class="col-md-1" style="background-color: #0f2233"><h4><span style="color: white">whit roles:</span></h4>
        </div>
        <div class="col-md-8" style="background-color: #0f2233"><h4><span style="color: white" id="adminRole"></span>
        </h4>
        </div>
        <div class="col-md-1" style="background-color: #0f2233">
            <h4><a style="color: white" th:href="@{/logout}">Logout</a></h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="/admin" class="btn btn-info btn-block">Admin</a>
            <a href="/user" class="btn btn-info btn-block">User</a>
            <a href="/cashMarket" class="btn btn-info btn-block">Cash Market</a>
        </div>
        <div class="container-fluid col-md-10" style="background-color: #f6f6f6">
            <h1>Admin panel</h1>
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#tablePanel" onclick="getUsers()">Users
                        table</a></li>
                    <li><a data-toggle="tab" data-target="#user-create">Create users</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="user-create">
                        <div class="panel panel-default" style="background-color: #fcfcfc">
                            <div class="panel-body"><h3>Add new user</h3></div>
                            <div class="panel panel-default" style="background-color: white">
                                <form id="create" name="create">
                                    <div class="row text-center">
                                        <div class="col-md-4 col-md-offset-4">
                                            <br/>
                                            <label for="username">Username</label>
                                            <input type="text" id="username" name="username" placeholder="Username"
                                                   class="form-control">
                                            <br/>
                                            <label for="password">Password</label>
                                            <input type="password" id="password" name="password" placeholder="Password"
                                                   class="form-control">
                                            <br/>
                                            <label for="passwordConfirm">Password Confirm</label>
                                            <input type="password" id="passwordConfirm" placeholder="Password Confirm"
                                                   name="passwordConfirm"
                                                   class="form-control">
                                            <br/>
                                            <label for="lastName">Last Name</label>
                                            <input type="text" id="lastName" placeholder="Last Name" name="lastName"
                                                   class="form-control">
                                            <br/>
                                            <label for="age">Age</label>
                                            <input type="text" id="age" placeholder="Age" name="age"
                                                   class="form-control">
                                            <br/>
                                            <button type="button" class="btn btn-success"
                                                    onclick="addUser()">Create user
                                            </button>
                                            <br/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" id="tablePanel">
                        <div class="panel panel-default" style="background-color: #fcfcfc">
                            <div class="panel-body"><h3>All users</h3></div>
                        </div>
                        <table id="table" class="table table-striped" style="background-color: #ffffff">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>
                        <div id="edit" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" onclick="addUser()">x</button>
                                        <h4 class="modal-title">Edit user</h4>
                                    </div>
                                    <div class="modal-body text-center">
                                        <form id="updateForm">
                                            <label for="idEdit">Id</label>
                                            <input readonly type="number" id="idEdit" placeholder="Id" name="id"
                                                   class="form-control">
                                            <br/>
                                            <label for="usernameEdit">Username</label>
                                            <input type="text" id="usernameEdit" placeholder="Username" name="username"
                                                   class="form-control">
                                            <br/>
                                            <label for="passwordEdit">Password</label>
                                            <input type="text" id="passwordEdit" placeholder="Password" name="password"
                                                   class="form-control">
                                            <br/>
                                            <label for="lastNameEdit">Last Name</label>
                                            <input type="text" id="lastNameEdit" placeholder="Last Name" name="lastName"
                                                   class="form-control">
                                            <br/>
                                            <label for="ageEdit">Age</label>
                                            <input type="text" id="ageEdit" placeholder="Age" name="age"
                                                   class="form-control">
                                            <br/>
                                            <label for="roleEdit">Role</label>
                                            <select multiple class="form-control text-center" id="roleEdit"
                                                    name="roles">
                                                <option value="1" name="role">ROLE_USER</option>
                                                <option value="2" name="role">ROLE_ADMIN</option>
                                            </select>
                                            <br/>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal" onclick="addUser()">Close
                                        </button>
                                        <button class="btn btn-primary" data-dismiss="modal" onclick="editUser()">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="delete" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal">x</button>
                                        <h4 class="modal-title">Delete user</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form id="deleteForm">
                                            <label for="idDelete">Id</label>
                                            <input disabled type="number" id="idDelete" placeholder="Id"
                                                   class="form-control">
                                            <br/>
                                            <label for="usernameDelete">Username</label>
                                            <input disabled type="text" id="usernameDelete" placeholder="Username"
                                                   class="form-control">
                                            <br/>
                                            <label for="passwordDelete">Password</label>
                                            <input disabled type="text" id="passwordDelete" placeholder="Password"
                                                   class="form-control">
                                            <br/>
                                            <label for="lastNameDelete">Last Name</label>
                                            <input disabled type="text" id="lastNameDelete" placeholder="Last Name"
                                                   class="form-control">
                                            <br/>
                                            <label for="ageDelete">Age</label>
                                            <input disabled type="text" id="ageDelete" placeholder="Age"
                                                   class="form-control">
                                            <br/>
                                            <label for="roleDelete">Role</label>
                                            <select multiple class="form-control text-center" id="roleDelete" disabled>
                                                <option>ROLE_USER</option>
                                                <option>ROLE_ADMIN</option>
                                            </select>
                                            <br/>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button class="btn btn-danger" data-dismiss="modal"
                                                onclick="deleteUser(document.getElementById('idDelete').value)">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        getUsers()
        getUserInfo()
    });

    function getUsers() {
        $.ajax({
            type: "GET",
            url: "/admin/getUsers",
            dataType: 'json',
            success: function (users) {
                let tbody = $('#tableBody');
                tbody.empty();
                users.forEach(function (user) {
                    let roles = user.roles.map(role => role.role).join(', ');
                    let dynamicTR = `
                        <tr>
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.lastName}</td>
                            <td>${user.age}</td>
                            <td>${roles}</td>
                            <td>
                            <button class='btn btn-primary' data-toggle='modal' data-target='#edit'
                            onClick='editForm(${user.id})'> Edit
                            </button>
                            </td>
                            <td>
                            <button class='btn btn-danger' data-toggle='modal' data-target='#delete'
                            onClick='deleteForm(${user.id})'> Delete
                            </button>
                            </td>
                        </tr>`;
                    tbody.append(dynamicTR);
                })
            },
        });
    }

    function getUserInfo() {
        $.ajax({
            type: "GET",
            url: "/admin/getAdmin",
            dataType: "JSON",
            success: function (user) {
                let roles = user.roles.map(role => role.role).join(', ');
                document.getElementById('adminName').innerHTML = user.username;
                document.getElementById('adminRole').innerHTML = roles;
            }
        });
    }

    function addUser() {
        $.ajax({
            type: 'POST',
            url: "admin/user-create",
            dataType: "JSON",
            data: $("#create").serialize(),
            success: function (data) {
                if (data.status === "success") {
                    $('#username').val("");
                    $('#password').val("");
                    $('#passwordConfirm').val("");
                    $('#lastName').val("");
                    $('#age').val("");
                    alert("The user has been added");
                } else if (data.status === "errorPassword") {
                    alert("Passwords don't match");
                } else if (data.status === "errorName") {
                    alert("A user with that name already exists");
                }
                getUsers();
            }
        });
    }

    function editUser() {
        $.ajax({
            type: "POST",
            url: "/admin/user-update",
            dataType: "JSON",
            data: $("#updateForm").serialize(),
            success: function (data) {
                if (data.status === "success") {
                    getUsers();
                } else {
                    $('#usernameEdit').val("");
                    alert("A user with that name already exists");
                }
            }
        });
    }

    function deleteUser(userId) {
        $.ajax({
            type: "POST",
            url: "/admin/user-delete/" + userId,
            dataType: "JSON",
            success: function () {
                $('#idDelete').val("");
                $('#usernameDelete').val("");
                $('#passwordDelete').val("");
                $('#lastNameDelete').val("");
                $('#ageDelete').val("");
                getUsers();
            }
        });
    }

    function deleteForm(id) {
        $.ajax({
            type: "GET",
            url: "/admin/userForm/" + id,
            dataType: "JSON",
            success: function (user) {
                $('#idDelete').val(user.id);
                $('#usernameDelete').val(user.username);
                $('#passwordDelete').val("");
                $('#lastNameDelete').val(user.lastName);
                $('#ageDelete').val(user.age);
                $('#roleDelete').val(user.roles.map(role => role.role).join(', '));
            }
        });
    }

    function editForm(id) {
        $.ajax({
            type: "GET",
            url: "/admin/userForm/" + id,
            dataType: "JSON",
            success: function (user) {
                $('#idEdit').val(user.id);
                $('#usernameEdit').val(user.username);
                $('#passwordEdit').val("");
                $('#lastNameEdit').val(user.lastName);
                $('#ageEdit').val(user.age);
                $('#roleEdit').val(user.roles.map(role => role.role).join(', '));
            }
        });
    }

</script>
</body>
</html>
