<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <title>CashMarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: #0f2233"><h4><span style="color: white" id="userName"></span>
        </h4>
        </div>
        <div class="col-md-1" style="background-color: #0f2233"><h4><span style="color: white">whit roles:</span></h4>
        </div>
        <div class="col-md-8" style="background-color: #0f2233"><h4><span style="color: white" id="userRole"></span>
        </h4>
        </div>
        <div class="col-md-1" style="background-color: #0f2233">
            <h4><a style="color: white" th:href="@{/logout}">Logout</a></h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <a href="/admin" class="btn btn-info btn-block">Admin</a>
            <a href="/user" class="btn btn-info btn-block">User</a>
            <a href="/cashMarket" class="btn btn-info btn-block">Cash Market</a>
        </div>
        <div class="container-fluid col-md-10" style="background-color: #fcfcfc">
            <h1>Cash market</h1>
            <div class="container-fluid">
                <div class="tab-content ">
                    <div class="panel panel-default" style="background-color: #fcfcfc"></div>
                    <form id="currenciesForm">
                        <label for="currencies">Currencies</label>
                        <select multiple class="form-control text-center required" id="currencies" name="currencies">
                            <option value="RUB" name="currency">Ruble</option>
                            <option value="EUR" name="currency">Euro</option>
                            <option value="CNY" name="currency">Yuan</option>
                        </select>
                    </form>
                    <button class="btn btn-primary col-md-2 col-md-offset-5" onclick="GetExchangeRates()">Show</button>
                    <table class="table table-striped" style="background-color: #f6f6f6">
                        <thead>
                        <tr>
                            <th>Exchangerate</th>
                            <th>Exchange rate</th>
                            <th>Abstractapi</th>
                            <th>Reverse Exchange rate</th>
                            <th>Benefit</th>
                        </tr>
                        </thead>
                        <tbody id="marketTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        getUsersInfo()
    });

    function getUsersInfo() {
        $.ajax({
            type: "GET",
            url: "/user/userInfo",
            dataType: 'json',
            success: function (user) {
                let roles = user.roles.map(role => role.role).join(', ');
                document.getElementById('userName').innerHTML = user.username;
                document.getElementById('userRole').innerHTML = roles;
            },
        });
    }

    function GetExchangeRates() {
        $.ajax({
            type: "POST",
            url: "/cashMarket/getCourse",
            dataType: 'json',
            data: $("#currenciesForm").serialize(),
            success: function (exchangeRatesList) {
                let tbody = $('#marketTableBody');
                tbody.empty();
                exchangeRatesList.forEach(function (exchangeRates) {
                    let dynamicTR = `
                        <tr>
                            <td>${exchangeRates.currencyPair1}</td>
                            <td>${exchangeRates.course1}</td>
                            <td>${exchangeRates.currencyPair2}</td>
                            <td>${exchangeRates.course2}</td>
                            <td>${exchangeRates.benefit}</td>
                        </tr>`;
                    tbody.append(dynamicTR);
                })
            }
        });
    }
</script>
</body>
